<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Root menu -->
    <menuitem id="menu_futsal_root"
              name="Futsal Management"
              sequence="50"
              web_icon="futsal-booking,static/description/icon.png"/>

    <!-- Fields sub-menu -->
    <menuitem id="menu_futsal_field"
              name="Fields"
              parent="menu_futsal_root"
              action="action_futsal_field"
              sequence="10"/>

    <!-- Bookings sub-menu -->
    <menuitem id="menu_futsal_booking"
              name="Bookings"
              parent="menu_futsal_root"
              action="action_futsal_booking"
              sequence="20"/>

</odoo>
